footer {
  width: 100%;
  background-color: #8bc47f;
  color: white;
  padding: 40px 60px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titulo {
  color: white;
  font-size: 2rem;
}

.footer-content p {
  color: white;
  font-size: 1.2rem;
}

.entre-contato {
  color: white;
  font-size: 1.2rem;
}

.direitos {
  text-align: center;
  margin-top: 40px;
  color: white;
  font-size: 14px;
}

.whatsapp-area {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 30px;
}

.whatsapp-area img {
  width: 40px;
  height: 40px;
}

.whatsapp-area p {
  color: white;
  margin: 0;
  font-size: 18px;
}

.whatsapp-area a {
  text-decoration: none;
  color: white;
}