* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

    background:#8bc47f;

    gap:30px;
}

/* LOGO */

.logo-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo-area h1 {
    color: white;
    font-size: 38px;
}

.logo-area p {
    color: white;
    font-size: 18px;
}

/* MENU */

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

nav a:hover {
    color: #eaffdf;
}

/* BOTÃO */

.btn-contato {
    border: none;
    background-color: #4f7f14;
    color: white;

    padding: 15px 28px;
    border-radius: 40px;

    cursor: pointer;
    font-size: 18px;

    transition: 0.5s;
}

.btn-contato:hover {
    background-color: #3c630f;
}
.btn-contato p {
    color: white;
    margin: 0;
    font-size: 18px;
}
.btn-contato a {
    text-decoration: none;
    color: white;
}